# Shelter Animals - Data Preparation

The purpose of this notebook is to have a look at the data we require and compare it to the data we have available. We'll perform any necessary merged and finish with a processed datasheet that we can further analyse in the Exploratory Data Analysis. 

Before getting started I want to mention that this Data Preparation largely occured before the EDA, while you would normally expect it to be the other way around. The reason for this is that it was necessary to merge two datasets to reach our target variable.


# Overview
1. [Data Requirements](#chapter1)  
    1.1 [Domains](#chapter1.1)  
    1.2 [Stakeholder Connections](#chapter1.2)  
    1.3 [Expected Attitude](#chapter1.3)   
    1.4 [Candidate Data Sources](#chapter1.4)  
    1.5 [Data Definition](#chapter1.5)  
    1.6 [Data Storage Solution](#chapter1.6)  
    1.7 [Merging Facts](#chapter1.7)  
    1.8 [Quality Aspects of Data](#chapter1.8)


2. [Inventorising Animal Shelter Data](#chapter2)  
    2.1 [Austin Animal Shelter](#chapter2.1)  
    2.2 [Dallas Animal Shelter](#chapter2.2)  
    2.3 [Sonoma County Animal Shelters](#chapter2.3)   


3. [Cleaning Austin Shelter Data](#chapter3)    
4. [Merging The Austin Datasets](#chapter4)   
5. [Extracting Features from Austin Data](#chapter5)  
6. [Saving The Processed Austin Datasheet](#chapter6)


# 1. Data Requirements <a class="anchor" id="chapter1"></a>

In the Data Requirements our goal is to set a standard for our data that we can look back on throughout the iterative data preparation process. We define the necessary data and briefly explain why it is relevant to our final product.

<img src='https://i.imgur.com/HJO6tT1.png' width=600px heigth=600px align="left">

### 1.1 Domains <a class="anchor" id="chapter1.1"></a>

There are a number of interesting domains to research regarding this challenge. Some play a direct role whereas others are less visible but potentially influential. Our direct influences are directly connected to a specific animal. Examples are an animal's type, colour, breed, age and so on. These factors could cause an animal to be picked before others in the same shelter. 

Indirect influences are locational factors connected to an animal shelter. People might be less likely go visit a shelter when it's raining. They could also be more likely to get a dog when they see lots of people walking their dog. Prosperity is also interesting considering pets can be expensive meaning richer neighbourhoods might see more adoptions than poorer ones.

**Direct Influences**
1. Type of Animal (Cats and Dogs)
2. Animal Characteristics
3. Animal History

**Indirect Influences**   
These are all locational factors. They might influence adoption patterns which in turn leads to a faster or slower average adoption of animals in Shelters in this area.

1. Shelter
2. Daily Weather 
3. Amount of Pets 
4. Religion 
5. Prosperity 
6. Laws.

The issue we're trying to tackle here definitely touches a global scale. A lot of the data found came from the United States. There's also a major difference in culture and laws across countries. To keep things relatively simple we will keep things contained to a continental scale.

### 1.2 Stakeholder Connections <a class="anchor" id="chapter1.2"></a> 

**Animal Shelters**  
Animal shelters take care of the animals and are our primary source of data for direct influences. Their location is relevant for the second stage. By linking each animal to a shelter, we can gain locational data for that shelter.

**Animals**  
Their characteristics and history are directly relevant for the prediction of how long it takes an animal to get adopted. They're taken care of by the animal shelters. 

**Governments**  
There are governments that have oversights on public animal shelters. Private animal shelters are often a lot less regulated. They influence the laws and to an extend the prosperity of an area which can play a role in adoption speed.

### 1.3 Expected Attitude <a class="anchor" id="chapter1.3"></a> 
Having walked to a shelter the general impression I got is that they weren't very interested in predicting how long an animal would stay there. This is mostly explained because regardless of how long it takes the animal wouldn't get euthanised at this shelter. They also had concerns with human factors causing coincidence to play too big of a role. If the prediction is too inaccurate it won't be useful. 

Governments might be more interested. Using the adoption patterns, we could later estimate how busy a shelter will be at a certain moment of time based on its current occupation. These insights can be used to manage the population better and invest money into adoption campaigns in certain months.

### 1.4 Candidate Data Sources <a class="anchor" id="chapter1.4"></a> 
There's a large number of data sources we looked at before narrowing it down to the following:
1. [Austin Animal Shelter](main)   
    1.1 [Shelter Animal Outcomes](https://www.kaggle.com/c/shelter-animal-outcomes/data?select=train.csv.gz)   
    1.2 [Austin Animal Center Shelter Outcomes](https://www.kaggle.com/aaronschlegel/austin-animal-center-shelter-outcomes-and)  
    1.3 [Animal Shelter Analytics](https://www.kaggle.com/jackdaoud/animal-shelter-analytics?select=Austin_Animal_Center_Intakes.csv)  
    1.4 [Austin Animal Center Intakes](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Intakes/wter-evkm)  
    1.5 [Austin Animal Center Outcomes](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Outcomes/9t4d-g238)  

2. [Dallas Animal Shelter Data Year 2019-2020](https://www.dallasopendata.com/Services/Dallas-Animal-Shelter-Data-Fiscal-Year-2019-2020/7h2m-3um5) (other years also available)
3. [Sonoma County Animal Shelters](https://data.sonomacounty.ca.gov/Government/Animal-Shelter-Intake-and-Outcome/924a-vesw)

The following datasets were also considered, but weren't analysed in this notebook because it was quickly clear that they lacked features.

4. [Shelter Animal Outcomes](https://www.kaggle.com/c/shelter-animal-outcomes/data?select=train.csv.gz)
5. [Austin Animal Center Shelter Outcomes](https://www.kaggle.com/aaronschlegel/austin-animal-center-shelter-outcomes-and)
6. [Los Angeles Animal Services](https://www.kaggle.com/cityofLA/los-angeles-animal-services-intake-data)
7. [Shelters Animals Count](https://www.shelteranimalscount.org/data-request) | Costs 250 dollars

We eventually ended up using the Austin Animal Center Intakes and Austin Animal Center Outcomes datasets, combining them to find our target variable. These datasets seemed to be most complete and contained all the features and information necessary.

In [4]:
%%html
<style>
table {float:left}
</style>

### 1.5 Data Definition <a class="anchor" id="chapter1.5"></a> 
We'll briefly describe the data we have available for the challenge. Below you'll find a list of the features and target variable with a brief description of each. A more extensive description can be found the the Proposal document.

#### Data Fields
- **Animal ID** - Unique ID of an animal
- **Animal Type** - Type of animal (Cat or Dog)
- **Breed** - Breed of the animal 
- **Breed Bucket** - Filter of most common breeds 
- **Gender** - Gender of animal (Male or Female)
- **Color** - Color(s) of the animal
- **Found Location** - Address the animal was found
- **Date of Birth** - Date the animal was born (often estimated)
- **Name** - Name of the animal
- **Intake DateTime** - Date and time the animal came into the shelter
- **Outcome DateTime** - Date and time the animal was adopted
- **IntakeAge** - Age of animal upon intake in days and time
- **OutcomeAge** - Age of animal upon adoption in days and time
- **Intake Type** - Type/reason of intake
- **Intake Condition** - Condition of the animal during intake
- **Castration Intake** - Pet was spayed / neutered upon intake
- **Castration Outcome** - Pet was spayed / neutered upon adoption
- **Colors** - Tabby, Tricolor, Brown, Black, White, Orange, Tortie, Calico, Blue, Tan and Brindle. All of these are categories which have a 1 if the Color category contained it. 
- **Adoption Speed** - Bucketed days the animal spent in the shelter. The main value we're trying to predict.
- **Days in Shelter** - Amount of days the animal spent in the shelter. Other value we might predict which our target variable was derived from.


**Adoption Speed**  
Adoption Speed was derived from days in shelter. There are 5 categories of approximate equal size available. We purposely tried to split the data somewhat evenly to prevent a bias towards one of the categories. These categories are as follows: 

| Time in Shelter   | Amount of Data    | 	   
|-----------------:	|-----------------:	|
| 0-5 days         	| 23.52%            |
| 5-10 days        	| 23.12%            |
| 10-30 days       	| 21.26%            |    
| 1-2 months      	| 16.80%            |   
| 2+ months       	| 15.29%            |

### 1.6 Data Storage Solution <a class="anchor" id="chapter1.6"></a> 
As this is a personal project the data storage does not need to be overcomplicated. I can simply download the CSV files and load those into Jupyter notebook considering I'll be the only person working on them. This means that I will work with the data locally and deploy it as an app.

<img src='https://i.imgur.com/Ox5CTud.png' width=400px heigth=400px align="left">

If I have time left over I would be interesting in looking into a Cloud Solution such as Google Cloud. This is especially useful for a production level project. One benefit of this is that different people would be able to access the same data, which is especially helpful for a group project. 

Another advantage would be the option to automatically keep the model up to date. Over time our data might become less relevant as people's preference on animals changes. The Austin Animal Shelter data is available through API. This means it should be possible to create a pipeline that downloads the data and prepares it according to the steps taken in the notebooks. If we were to do this we probably want to filter out older data, merge the datasets and perform a lot of automatic (null) checks to make sure everything is going according to plan.

### 1.7 Merging Facts <a class="anchor" id="chapter1.7"></a> 
Our schema does not match either the Star, Snowflake or Galaxy schema.

We have two different tables that contain the key Animal ID. Combined with this key we have dimensional data. Therefor we have two dimensional tables that are linked together. The Animal ID of the intakes can not simply be joined with the animal ID of the outcomes. This is because an animal can end up in the shelter multiple times. When this occurs the animal ID stays the same.  

When performing the merge, we'll look at the animal ID from the intakes and find any rows in the outcomes that match this ID. The row with the closest date to our intake is the matching outcome. We will filter on outcomes that occurred after the intake and find the oldest one then join the rows together.  

Because we have to repeatedly loop over a large number of rows to perform this merge it's going to take while. Rather than adding each row directly to a new dataframe we'll create a list of lists. After we've looped over all rows, we'll use this list to create the dataframe in one go, which is more time efficient.

### 1.8 Quality Aspects of Data <a class="anchor" id="chapter1.8"></a> 
Something I previously forgot to mention were the quality aspects we would like our data to hold up against. It's important that our fully processed data has a certain standard in order to access if it is sufficient for our purpose.

1. **Consistency**. The data is consistent across our data sets. If we look at a unique animal ID we expect to find the animal with the same name, date of birth, colour and breed across both datasets.


2. **Accuracy**. The data contains no typographical errors.


3. **Completeness**. There's enough data to draw conclusions from. The target variable does not contain any missing values.


4. **Uniqueness**. Data is stored no more than once and doesn't contain meaningless duplicates.


5. **Timeliness**. The data is relatively recent. While the time metric is arguable and needs further testing, I would probably dismiss data older than 10 years.

# 2. Inventorising Animal Shelter Data <a class="anchor" id="chapter2"></a> 
We're going to begin by having a quick look at these datasets and seeing if they fit our purposes. We will begin by importing all the libraries we're going to require and printing their versions.

In [2]:
#Importing the necessary libraries
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import re

import time
import datetime
from dateutil import parser 
from datetime import timedelta

#Printing the versions of the libaries used.
print('numpy version:', np.__version__)
print('pandas version:', pd.__version__)
print('matplotlib version:', matplotlib.__version__)
print('seaborn version:', sns.__version__)


%matplotlib inline

numpy version: 1.20.3
pandas version: 1.3.2
matplotlib version: 3.4.2
seaborn version: 0.11.2

### 2.1. Austin Animal Shelter <a class="anchor" id="chapter2.1"></a> 
The Austin Animal Shelter Dataset is split into an intake and outcome datasheet.

In [3]:
austin_in_df = pd.read_csv('Datasets/Austin_Animal_Center_Intakes.csv')
austin_in_df.head(3)

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A786884,*Brock,01/03/2019 04:19:00 PM,01/03/2019 04:19:00 PM,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,07/05/2015 12:59:00 PM,07/05/2015 12:59:00 PM,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,04/14/2016 06:43:00 PM,04/14/2016 06:43:00 PM,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White

In [4]:
austin_out_df = pd.read_csv('Datasets/Austin_Animal_Center_Outcomes.csv')
austin_out_df.head(3)

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A794011,Chunk,05/08/2019 06:20:00 PM,05/08/2019 06:20:00 PM,05/02/2017,Rto-Adopt,NaN,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White
1,A776359,Gizmo,07/18/2018 04:02:00 PM,07/18/2018 04:02:00 PM,07/12/2017,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown
2,A821648,NaN,08/16/2020 11:38:00 AM,08/16/2020 11:38:00 AM,08/16/2019,Euthanasia,NaN,Other,Unknown,1 year,Raccoon,Gray

The dataframes heavily overlap and seem **connected to each other using Animal ID**. 

My theory is that DateTime is specific to the intake and outcome, meaning the difference would be the duration of the stay.

#### Completeness
Both dataframes seem fairly complete aside. Approximately a quarter of Name values are missing and the outcome subtype is only filled in about half the time.

In [5]:
austin_in_df.info()
austin_out_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132954 entries, 0 to 132953
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Animal ID         132954 non-null  object
 1   Name              92430 non-null   object
 2   DateTime          132954 non-null  object
 3   MonthYear         132954 non-null  object
 4   Found Location    132954 non-null  object
 5   Intake Type       132954 non-null  object
 6   Intake Condition  132954 non-null  object
 7   Animal Type       132954 non-null  object
 8   Sex upon Intake   132953 non-null  object
 9   Age upon Intake   132954 non-null  object
 10  Breed             132954 non-null  object
 11  Color             132954 non-null  object
dtypes: object(12)
memory usage: 12.2+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133022 entries, 0 to 133021
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Animal ID         133022 non-null  object
 1   Name              92534 non-null   object
 2   DateTime          133022 non-null  object
 3   MonthYear         133022 non-null  object
 4   Date of Birth     133022 non-null  object
 5   Outcome Type      132997 non-null  object
 6   Outcome Subtype   61094 non-null   object
 7   Animal Type       133022 non-null  object
 8   Sex upon Outcome  133021 non-null  object
 9   Age upon Outcome  133002 non-null  object
 10  Breed             133022 non-null  object
 11  Color             133022 non-null  object
dtypes: object(12)
memory usage: 12.2+ MB

#### Potentially Merging the Datasets
To find the duration of stay we would have to merge the datasets on animal ID. Let's first look for one animal and see if the DateTimes actually differ.

In [6]:
austin_in_df.loc[austin_in_df['Animal ID'] == 'A786884']

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A786884,*Brock,01/03/2019 04:19:00 PM,01/03/2019 04:19:00 PM,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor

In [7]:
austin_out_df.loc[austin_out_df['Animal ID'] == 'A786884']

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
102361,A786884,*Brock,01/08/2019 03:11:00 PM,01/08/2019 03:11:00 PM,01/03/2017,Transfer,Partner,Dog,Neutered Male,2 years,Beagle Mix,Tricolor

Luckily, we find Brock is both cases. Brock seems to have been **transferred** which is important to keep in mind as we're mostly interested in **adoptions**. However, the datetime is 5 months apart, meaning it's actually possible to tell the difference.

#### Further analysing the set
By looking at the dataset further we can see there's a large amount of duplicate AnimalIDs. This is important to remember if we are going to merge the datasets, but also begs the question *why?*. My current theory is that it's animals that ended up in the shelter multiple times, whether it be because they got lost or were returned. We'll have to look into this further at a later point in time.

In [8]:
austin_in_df.describe()

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
count,132954,92430,132954,132954,132954,132954,132954,132954,132953,132954,132954,132954
unique,118898,22129,93470,93470,56471,6,15,5,5,52,2691,606
top,A721033,Max,09/23/2016 12:00:00 PM,09/23/2016 12:00:00 PM,Austin (TX),Stray,Normal,Dog,Intact Male,1 year,Domestic Shorthair Mix,Black/White
freq,33,604,64,64,24875,91934,114718,74708,43552,22842,31761,13878

In [9]:
austin_out_df.describe()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
count,133022,92534,133022,133022,133022,132997,61094,133022,133021,133002,133022,133022
unique,118987,22003,110357,110357,7403,9,24,5,5,52,2697,607
top,A721033,Max,04/18/2016 12:00:00 AM,04/18/2016 12:00:00 AM,04/21/2014,Adoption,Partner,Dog,Neutered Male,1 year,Domestic Shorthair Mix,Black/White
freq,33,600,39,39,117,60267,32650,74729,46791,23185,32055,13894

### 2.2 Dallas Animal Shelter <a class="anchor" id="chapter2.2"></a> 
Next, we're going to look at Dallas Animal Shelter. We're only going to look at one year, but can merge this set with other years if desired.

In [10]:
dallas_df = pd.read_csv('Datasets/Dallas_Animal_Shelter_Data_Fiscal_Year_2019_-2020.csv')
dallas_df.head(5)

,Animal Id,Animal Type,Animal Breed,Kennel Number,Kennel Status,Tag Type,Activity Number,Activity Sequence,Source Id,Census Tract,...,Outcome Time,Receipt Number,Impound Number,Service Request Number,Outcome Condition,Chip Status,Animal Origin,Additional Information,Month,Year
0,A1093136,CAT,DOMESTIC SH,K01,IMPOUNDED,NaN,NaN,1,P0915082,005200,...,14:46:00,NaN,K20-494003,NaN,APP SICK,SCAN NO CHIP,OVER THE COUNTER,NaN,JAN.2020,FY2020
1,A1046046,DOG,PIT BULL,AD 085,UNAVAILABLE,NaN,A19-203263,1,P0740141,012900,...,14:56:00,R19-561166,K19-489088,NaN,APP WNL,SCAN CHIP,FIELD,ADOPTION,NOV.2019,FY2020
2,A1098758,BIRD,HAWK,RECEIVING,UNAVAILABLE,NaN,A20-217177,1,P0922414,000100,...,15:18:00,NaN,K20-501362,NaN,APP INJ,WILDLIFE - UNABLE TO SCAN,FIELD,NaN,MAR.2020,FY2020
3,A1061310,DOG,LABRADOR RETR,LFD 163,UNAVAILABLE,NaN,A19-206245,1,P9991730,004800,...,13:33:00,R19-561090,K19-491175,NaN,APP WNL,SCAN CHIP,FIELD,NaN,DEC.2019,FY2020
4,A1091970,CAT,DOMESTIC SH,CC 25,UNAVAILABLE,NaN,NaN,1,P0913319,016701,...,15:47:00,R19-561806,K19-492312,NaN,APP WNL,SCAN NO CHIP,OVER THE COUNTER,ADOPTED,DEC.2019,FY2020

In [11]:
dallas_df.columns

Index(['Animal Id', 'Animal Type', 'Animal Breed', 'Kennel Number',
       'Kennel Status', 'Tag Type', 'Activity Number', 'Activity Sequence',
       'Source Id', 'Census Tract', 'Council District', 'Intake Type',
       'Intake Subtype', 'Intake Total', 'Reason', 'Staff Id', 'Intake Date',
       'Intake Time', 'Due Out', 'Intake Condition', 'Hold Request',
       'Outcome Type', 'Outcome Subtype', 'Outcome Date', 'Outcome Time',
       'Receipt Number', 'Impound Number', 'Service Request Number',
       'Outcome Condition', 'Chip Status', 'Animal Origin',
       'Additional Information', 'Month', 'Year'],
      dtype='object')

Because of the large amount of columns, I also printed the columns. It includes a lot of similar information as Austin, plus a bunch of extra information regarding the way the animal was kept. Interestingly enough the animal sex, colour and age do not seem to have been included.

In [12]:
dallas_df['Council District'].unique()

array(['1', '9', '8', '14', '7', '10', '13', '4', nan, '6', '3', '11',
       '2', '5', '12', 'AS', '00'], dtype=object)

In [13]:
dallas_df['Animal Origin'].unique()

array(['OVER THE COUNTER', 'FIELD', 'SWEEP', nan, 'OPS', 'AGGOPS', 'BITE',
       'CARE'], dtype=object)

It might be possible to narrow down the location using the council district. 

The main information is the intake and outcome reasons, conditions and dates, the animal breed and animal type.

In [14]:
dallas_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31918 entries, 0 to 31917
Data columns (total 34 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Animal Id               31918 non-null  object
 1   Animal Type             31918 non-null  object
 2   Animal Breed            31918 non-null  object
 3   Kennel Number           31918 non-null  object
 4   Kennel Status           31918 non-null  object
 5   Tag Type                0 non-null      float64
 6   Activity Number         17249 non-null  object
 7   Activity Sequence       31918 non-null  int64
 8   Source Id               31918 non-null  object
 9   Census Tract            26258 non-null  object
 10  Council District        26258 non-null  object
 11  Intake Type             31918 non-null  object
 12  Intake Subtype          31918 non-null  object
 13  Intake Total            31918 non-null  int64
 14  Reason                  29783 non-null  object
 15  Staff Id                31918 non-null  object
 16  Intake Date             31918 non-null  object
 17  Intake Time             31918 non-null  object
 18  Due Out                 31918 non-null  object
 19  Intake Condition        31918 non-null  object
 20  Hold Request            21928 non-null  object
 21  Outcome Type            31918 non-null  object
 22  Outcome Subtype         31918 non-null  object
 23  Outcome Date            31695 non-null  object
 24  Outcome Time            31918 non-null  object
 25  Receipt Number          12249 non-null  object
 26  Impound Number          31918 non-null  object
 27  Service Request Number  69 non-null     object
 28  Outcome Condition       29548 non-null  object
 29  Chip Status             29783 non-null  object
 30  Animal Origin           29783 non-null  object
 31  Additional Information  9366 non-null   object
 32  Month                   31918 non-null  object
 33  Year                    31918 non-null  object
dtypes: float64(1), int64(2), object(31)
memory usage: 8.3+ MB

While some of the columns are largely empty, the columns we mentioned are available. Again the main concern is the lack of gender, colour and age.

### 2.3. Sonoma County Animal Shelters <a class="anchor" id="chapter2.3"></a>

In [15]:
sonoma_df = pd.read_csv('Datasets/Sonoma Animal_Shelter_Intake_and_Outcome.csv')
sonoma_df.head()

,Name,Type,Breed,Color,Sex,Size,Date Of Birth,Impound Number,Kennel Number,Animal ID,...,Intake Subtype,Outcome Type,Outcome Subtype,Intake Condition,Outcome Condition,Intake Jurisdiction,Outcome Jurisdiction,Outcome Zip Code,Location,Count
0,REMY,DOG,BEAGLE,BLACK/WHITE,Female,MED,04/11/2014,K21-039564,DS69,A406645,...,PHONE,RETURN TO OWNER,OVER THE COUNTER_WEB,UNKNOWN,PENDING,SANTA ROSA,SANTA ROSA,95407.0,"95407(38.403734, -122.736775)",1
1,*RONDE,DOG,CHIHUAHUA SH,TAN,Neutered,SMALL,07/24/2020,K21-039133,DA30,A406003,...,FIELD,ADOPTION,SCAS WEB,HEALTHY,HEALTHY,SANTA ROSA,*PETALUMA,94954.0,"94954(38.245316, -122.59871)",1
2,*SNOOP,CAT,DOMESTIC SH,GRAY,Neutered,SMALL,08/04/2019,K21-039232,CA02,A406151,...,FIELD,ADOPTION,SCAS WEB,HEALTHY,HEALTHY,SANTA ROSA,SANTA ROSA,95405.0,"95405(38.439152, -122.672541)",1
3,FIFI,CAT,SIAMESE,SEAL PT,Spayed,KITTN,10/27/2020,K21-037796,CA03,A402286,...,OVER THE COUNTER,ADOPTION,SCAS WEB,UNKNOWN,PENDING,SANTA ROSA,SANTA ROSA,95407.0,"95407(38.403734, -122.736775)",1
4,*MERLIN,CAT,DOMESTIC SH,BRN TABBY,Neutered,SMALL,01/16/2018,K21-037709,CS05,A402139,...,PHONE,ADOPTION,SCAS WEB,UNKNOWN,PENDING,SANTA ROSA,COUNTY,94952.0,"94952(38.236012, -122.730241)",1

In [16]:
sonoma_df.columns

Index(['Name', 'Type', 'Breed', 'Color', 'Sex', 'Size', 'Date Of Birth',
       'Impound Number', 'Kennel Number', 'Animal ID', 'Intake Date',
       'Outcome Date', 'Days in Shelter', 'Intake Type', 'Intake Subtype',
       'Outcome Type', 'Outcome Subtype', 'Intake Condition',
       'Outcome Condition', 'Intake Jurisdiction', 'Outcome Jurisdiction',
       'Outcome Zip Code', 'Location', 'Count'],
      dtype='object')

Sonoma also uses animal Ids to distinguish between animals. Age, color and sex as well as breed and type are all available, which looks very promising. The dataset also includes other information such as the number of days an animal was in the shelter and locational data. The size of an animal might also be very helpful.

In [17]:
sonoma_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21864 entries, 0 to 21863
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Name                  16213 non-null  object
 1   Type                  21864 non-null  object
 2   Breed                 21864 non-null  object
 3   Color                 21864 non-null  object
 4   Sex                   21864 non-null  object
 5   Size                  21831 non-null  object
 6   Date Of Birth         16523 non-null  object
 7   Impound Number        21864 non-null  object
 8   Kennel Number         21853 non-null  object
 9   Animal ID             21864 non-null  object
 10  Intake Date           21864 non-null  object
 11  Outcome Date          21716 non-null  object
 12  Days in Shelter       21864 non-null  int64
 13  Intake Type           21864 non-null  object
 14  Intake Subtype        21864 non-null  object
 15  Outcome Type          21710 non-null  object
 16  Outcome Subtype       21411 non-null  object
 17  Intake Condition      21864 non-null  object
 18  Outcome Condition     21382 non-null  object
 19  Intake Jurisdiction   21864 non-null  object
 20  Outcome Jurisdiction  18771 non-null  object
 21  Outcome Zip Code      18706 non-null  float64
 22  Location              18706 non-null  object
 23  Count                 21864 non-null  int64
dtypes: float64(1), int64(2), object(21)
memory usage: 4.0+ MB

Most values seem to be known. Name and Date of Birth are missing in roughly a quarter of all cases while some locational and jurisdictional data also seems to be null. All in all, most data is available.

# 3. Cleaning Austin Shelter Data <a class="anchor" id="chapter3"></a> 
Now that we have some idea of what's available, we're going to dive a little deeper into the Austin and Sonoma sets. I'm firstly interested in merging the Austin Animal Shelter datasets because they're of substantial size. In order to do this, we first need to find out where are the duplicate animal IDs are coming from.


### Duplicate IDs
First let's find out how many duplicate IDs there are.

In [18]:
df = austin_in_df
df.describe()

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
count,132954,92430,132954,132954,132954,132954,132954,132954,132953,132954,132954,132954
unique,118898,22129,93470,93470,56471,6,15,5,5,52,2691,606
top,A721033,Max,09/23/2016 12:00:00 PM,09/23/2016 12:00:00 PM,Austin (TX),Stray,Normal,Dog,Intact Male,1 year,Domestic Shorthair Mix,Black/White
freq,33,604,64,64,24875,91934,114718,74708,43552,22842,31761,13878

The duplicate IDs are the total minutes the unique. In this case that is 124120 - 110926 = 13.194. We can find all of these using the following query, which only returns duplicated Animal IDs.

In [19]:
df[df['Animal ID'].duplicated() == True].sort_values(by=['Animal ID'])

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
91722,A006100,Scamp,03/07/2014 02:26:00 PM,03/07/2014 02:26:00 PM,8700 Research in Austin (TX),Public Assist,Normal,Dog,Neutered Male,6 years,Spinone Italiano Mix,Yellow/White
20303,A006100,Scamp,12/07/2017 02:07:00 PM,12/07/2017 02:07:00 PM,Colony Creek And Hunters Trace in Austin (TX),Stray,Normal,Dog,Neutered Male,10 years,Spinone Italiano Mix,Yellow/White
123042,A245945,Boomer,05/20/2015 10:34:00 PM,05/20/2015 10:34:00 PM,7403 Blessing Ave in Austin (TX),Stray,Normal,Dog,Neutered Male,15 years,Labrador Retriever Mix,Tan
68155,A282897,Toby,07/06/2015 03:06:00 PM,07/06/2015 03:06:00 PM,Austin (TX),Owner Surrender,Normal,Cat,Neutered Male,13 years,Domestic Shorthair Mix,Black Smoke/White
119773,A287017,Stitch,12/12/2014 07:04:00 AM,12/12/2014 07:04:00 AM,Lazy Oaks /Westgate William Cannon in Austin (TX),Stray,Aged,Dog,Spayed Female,13 years,Chihuahua Shorthair Mix,Black/White
...,...,...,...,...,...,...,...,...,...,...,...,...
59047,A843951,Baby,10/08/2021 05:49:00 PM,10/08/2021 05:49:00 PM,Austin (TX),Owner Surrender,Normal,Cat,Intact Male,2 months,Domestic Shorthair,Black
132577,A844407,*Hans,10/17/2021 01:30:00 PM,10/17/2021 01:30:00 PM,Dove Springs & Stassnney in Austin (TX),Stray,Normal,Dog,Intact Male,9 months,Rottweiler,Black/Brown
132576,A844408,*Franz,10/17/2021 01:30:00 PM,10/17/2021 01:30:00 PM,Dove Springs & Stassnney in Austin (TX),Stray,Normal,Dog,Intact Male,9 months,Rottweiler,Black/Brown
61463,A844409,A844409,10/17/2021 01:30:00 PM,10/17/2021 01:30:00 PM,Dove Springs & Stassnney in Austin (TX),Stray,Normal,Dog,Intact Female,1 year,Pug,Fawn/Black
132705,A844644,A844644,10/26/2021 12:27:00 PM,10/26/2021 12:27:00 PM,Austin (TX),Owner Surrender,Normal,Cat,Neutered Male,4 months,Domestic Shorthair Mix,Brown Tabby

While these are the duplicate animal IDs their other appearances don't appear in this list, the exception being when an animal showed up more than two times in a list. Let's look at one animal in particular.

In [20]:
df[df['Animal ID'] == 'A006100']

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
4361,A006100,Scamp,12/19/2014 10:21:00 AM,12/19/2014 10:21:00 AM,8700 Research Blvd in Austin (TX),Public Assist,Normal,Dog,Neutered Male,7 years,Spinone Italiano Mix,Yellow/White
20303,A006100,Scamp,12/07/2017 02:07:00 PM,12/07/2017 02:07:00 PM,Colony Creek And Hunters Trace in Austin (TX),Stray,Normal,Dog,Neutered Male,10 years,Spinone Italiano Mix,Yellow/White
91722,A006100,Scamp,03/07/2014 02:26:00 PM,03/07/2014 02:26:00 PM,8700 Research in Austin (TX),Public Assist,Normal,Dog,Neutered Male,6 years,Spinone Italiano Mix,Yellow/White

Scamp was picked up three times: twice in 2014 and once in 2017. Now let's see if we can find him in the outcome dataset.

In [21]:
austin_out_df[austin_out_df['Animal ID'] == 'A006100']

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
56811,A006100,Scamp,12/20/2014 04:35:00 PM,12/20/2014 04:35:00 PM,07/09/2007,Return to Owner,NaN,Dog,Neutered Male,7 years,Spinone Italiano Mix,Yellow/White
101728,A006100,Scamp,12/07/2017 12:00:00 AM,12/07/2017 12:00:00 AM,07/09/2007,Return to Owner,NaN,Dog,Neutered Male,10 years,Spinone Italiano Mix,Yellow/White
115491,A006100,Scamp,03/08/2014 05:10:00 PM,03/08/2014 05:10:00 PM,07/09/2007,Return to Owner,NaN,Dog,Neutered Male,6 years,Spinone Italiano Mix,Yellow/White

Luckily Scamp was returned to his owner every time. However, this means that we don't simply want to match Animal IDs when merging the dataset. We instead want to look for the **closest outcome in the future**. Past outcomes can be ignored as they cannot match that specific intake.

### Duplicate Rows
Although these were all different values it's worth seeing if there's some rows that are complete duplicates of each other. Merging those with outcomes might cause problems we would rather avoid.

In [22]:
austin_in_df[austin_in_df.duplicated(keep=False)]

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
3499,A830075,Waffle,03/02/2021 01:35:00 PM,03/02/2021 01:35:00 PM,Onion Creek And Pleasant Valley in Austin (TX),Stray,Normal,Dog,Intact Male,1 year,Chihuahua Shorthair Mix,Tan
3500,A830075,Waffle,03/02/2021 01:35:00 PM,03/02/2021 01:35:00 PM,Onion Creek And Pleasant Valley in Austin (TX),Stray,Normal,Dog,Intact Male,1 year,Chihuahua Shorthair Mix,Tan
6670,A696688,Mari,02/10/2015 11:00:00 AM,02/10/2015 11:00:00 AM,Austin (TX),Owner Surrender,Normal,Cat,Spayed Female,3 years,Domestic Shorthair Mix,Calico/White
6671,A696688,Mari,02/10/2015 11:00:00 AM,02/10/2015 11:00:00 AM,Austin (TX),Owner Surrender,Normal,Cat,Spayed Female,3 years,Domestic Shorthair Mix,Calico/White
8717,A727043,*Larry,05/17/2016 03:46:00 PM,05/17/2016 03:46:00 PM,9515 N Lamar Blvd in Austin (TX),Stray,Normal,Cat,Intact Male,1 year,Domestic Shorthair Mix,Blue/White
8718,A727043,*Larry,05/17/2016 03:46:00 PM,05/17/2016 03:46:00 PM,9515 N Lamar Blvd in Austin (TX),Stray,Normal,Cat,Intact Male,1 year,Domestic Shorthair Mix,Blue/White
11392,A761936,NaN,11/12/2017 11:16:00 AM,11/12/2017 11:16:00 AM,8400 Old Bee Caves in Austin (TX),Stray,Normal,Dog,Intact Male,9 months,Scottish Terrier Mix,Brown Brindle
11393,A761936,NaN,11/12/2017 11:16:00 AM,11/12/2017 11:16:00 AM,8400 Old Bee Caves in Austin (TX),Stray,Normal,Dog,Intact Male,9 months,Scottish Terrier Mix,Brown Brindle
15090,A561806,Dasia,06/05/2017 11:36:00 AM,06/05/2017 11:36:00 AM,2002 Nightview in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,Pit Bull Mix,Brown Brindle/White
15091,A561806,Dasia,06/05/2017 11:36:00 AM,06/05/2017 11:36:00 AM,2002 Nightview in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,Pit Bull Mix,Brown Brindle/White
25791,A773428,*Atreyu,05/31/2018 06:38:00 PM,05/31/2018 06:38:00 PM,7Th And Gonzalez in Austin (TX),Stray,Normal,Cat,Intact Male,3 weeks,Domestic Shorthair Mix,Orange Tabby
25792,A773428,*Atreyu,05/31/2018 06:38:00 PM,05/31/2018 06:38:00 PM,7Th And Gonzalez in Austin (TX),Stray,Normal,Cat,Intact Male,3 weeks,Domestic Shorthair Mix,Orange Tabby
42875,A815987,Princess,04/09/2020 03:32:00 PM,04/09/2020 03:32:00 PM,Austin (TX),Public Assist,Normal,Dog,Intact Female,1 year,Cairn Terrier,White/Brown
42876,A815987,Princess,04/09/2020 03:32:00 PM,04/09/2020 03:32:00 PM,Austin (TX),Public Assist,Normal,Dog,Intact Female,1 year,Cairn Terrier,White/Brown
50112,A735395,Owl,09/23/2016 12:00:00 PM,09/23/2016 12:00:00 PM,Austin (TX),Owner Surrender,Normal,Cat,Intact Female,10 months,Domestic Shorthair Mix,Brown Tabby
50113,A735395,Owl,09/23/2016 12:00:00 PM,09/23/2016 12:00:00 PM,Austin (TX),Owner Surrender,Normal,Cat,Intact Female,10 months,Domestic Shorthair Mix,Brown Tabby
58849,A698864,NaN,03/19/2015 01:37:00 PM,03/19/2015 01:37:00 PM,12129 Glass Rd in Travis (TX),Wildlife,Injured,Other,Unknown,1 year,Skunk Mix,Black
58850,A698864,NaN,03/19/2015 01:37:00 PM,03/19/2015 01:37:00 PM,12129 Glass Rd in Travis (TX),Wildlife,Injured,Other,Unknown,1 year,Skunk Mix,Black
60081,A764464,Pepper,09/17/2018 03:09:00 PM,09/17/2018 03:09:00 PM,Del Valle (TX),Owner Surrender,Normal,Dog,Spayed Female,11 months,Soft Coated Wheaten Terrier Mix,Black/Tricolor
60082,A764464,Pepper,09/17/2018 03:09:00 PM,09/17/2018 03:09:00 PM,Del Valle (TX),Owner Surrender,Normal,Dog,Spayed Female,11 months,Soft Coated Wheaten Terrier Mix,Black/Tricolor
61533,A814983,Flor,06/08/2021 03:37:00 PM,06/08/2021 03:37:00 PM,1500 Parkfield in Austin (TX),Stray,Injured,Dog,Intact Female,5 years,Pembroke Welsh Corgi,White/Yellow
61534,A814983,Flor,06/08/2021 03:37:00 PM,06/08/2021 03:37:00 PM,1500 Parkfield in Austin (TX),Stray,Injured,Dog,Intact Female,5 years,Pembroke Welsh Corgi,White/Yellow
63259,A668183,Nacha,06/27/2014 11:34:00 AM,06/27/2014 11:34:00 AM,Austin (TX),Public Assist,Normal,Dog,Spayed Female,10 months,Dachshund Mix,Black/White
63260,A668183,Nacha,06/27/2014 11:34:00 AM,06/27/2014 11:34:00 AM,Austin (TX),Public Assist,Normal,Dog,Spayed Female,10 months,Dachshund Mix,Black/White
64522,A681446,NaN,06/16/2014 04:38:00 PM,06/16/2014 04:38:00 PM,6208 Tupelo Dr in Austin (TX),Wildlife,Normal,Other,Unknown,1 year,Bat,Brown
64523,A681446,NaN,06/16/2014 04:38:00 PM,06/16/2014 04:38:00 PM,6208 Tupelo Dr in Austin (TX),Wildlife,Normal,Other,Unknown,1 year,Bat,Brown
68900,A695798,Jim,01/23/2015 11:48:00 AM,01/23/2015 11:48:00 AM,Austin (TX),Owner Surrender,Sick,Cat,Neutered Male,10 months,Domestic Shorthair Mix,Orange
68901,A695798,Jim,01/23/2015 11:48:00 AM,01/23/2015 11:48:00 AM,Austin (TX),Owner Surrender,Sick,Cat,Neutered Male,10 months,Domestic Shorthair Mix,Orange
72219,A797007,Ummi,06/08/2019 12:03:00 PM,06/08/2019 12:03:00 PM,Austin (TX),Owner Surrender,Sick,Dog,Neutered Male,9 years,Miniature Poodle,White
72220,A797007,Ummi,06/08/2019 12:03:00 PM,06/08/2019 12:03:00 PM,Austin (TX),Owner Surrender,Sick,Dog,Neutered Male,9 years,Miniature Poodle,White
73963,A748204,Bob,04/30/2017 04:24:00 PM,04/30/2017 04:24:00 PM,Austin (TX),Owner Surrender,Normal,Cat,Intact Male,2 months,Domestic Shorthair Mix,White/Blue
73964,A748204,Bob,04/30/2017 04:24:00 PM,04/30/2017 04:24:00 PM,Austin (TX),Owner Surrender,Normal,Cat,Intact Male,2 months,Domestic Shorthair Mix,White/Blue
111920,A782931,Mika,10/23/2018 12:29:00 PM,10/23/2018 12:29:00 PM,13309 Slow Poke Drive in Austin (TX),Stray,Normal,Cat,Spayed Female,1 year,Domestic Shorthair Mix,Tortie
111921,A782931,Mika,10/23/2018 12:29:00 PM,10/23/2018 12:29:00 PM,13309 Slow Poke Drive in Austin (TX),Stray,Normal,Cat,Spayed Female,1 year,Domestic Shorthair Mix,Tortie
114897,A755687,NaN,08/07/2017 12:39:00 PM,08/07/2017 12:39:00 PM,505 Barton Springs in Austin (TX),Wildlife,Normal,Other,Unknown,3 years,Bat Mix,Brown
114898,A755687,NaN,08/07/2017 12:39:00 PM,08/07/2017 12:39:00 PM,505 Barton Springs in Austin (TX),Wildlife,Normal,Other,Unknown,3 years,Bat Mix,Brown
130721,A783234,Princess,11/01/2018 02:36:00 PM,11/01/2018 02:36:00 PM,Austin (TX),Public Assist,Normal,Dog,Intact Female,2 years,Collie Smooth/Pointer,Brown
130722,A783234,Princess,11/01/2018 02:36:00 PM,11/01/2018 02:36:00 PM,Austin (TX),Public Assist,Normal,Dog,Intact Female,2 years,Collie Smooth/Pointer,Brown

In [23]:
austin_out_df[austin_out_df.duplicated(keep=False)]

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
9113,A815987,Princess,04/13/2020 04:56:00 PM,04/13/2020 04:56:00 PM,04/02/2019,Return to Owner,NaN,Dog,Intact Female,1 year,Cairn Terrier,White/Brown
9114,A815987,Princess,04/13/2020 04:56:00 PM,04/13/2020 04:56:00 PM,04/02/2019,Return to Owner,NaN,Dog,Intact Female,1 year,Cairn Terrier,White/Brown
16923,A761936,NaN,11/16/2017 12:54:00 PM,11/16/2017 12:54:00 PM,01/12/2017,Transfer,Partner,Dog,Intact Male,10 months,Scottish Terrier Mix,Brown Brindle
16924,A761936,NaN,11/16/2017 12:54:00 PM,11/16/2017 12:54:00 PM,01/12/2017,Transfer,Partner,Dog,Intact Male,10 months,Scottish Terrier Mix,Brown Brindle
24113,A783234,Princess,01/13/2019 04:39:00 PM,01/13/2019 04:39:00 PM,10/27/2016,Rto-Adopt,NaN,Dog,Spayed Female,2 years,Collie Smooth/Pointer,Brown
24114,A783234,Princess,01/13/2019 04:39:00 PM,01/13/2019 04:39:00 PM,10/27/2016,Rto-Adopt,NaN,Dog,Spayed Female,2 years,Collie Smooth/Pointer,Brown
51051,A682781,NaN,07/03/2014 09:00:00 AM,07/03/2014 09:00:00 AM,01/02/2013,Transfer,SCRP,Cat,Neutered Male,1 year,Domestic Shorthair Mix,White/Black
51052,A682781,NaN,07/03/2014 09:00:00 AM,07/03/2014 09:00:00 AM,01/02/2013,Transfer,SCRP,Cat,Neutered Male,1 year,Domestic Shorthair Mix,White/Black
57080,A683782,NaN,07/16/2014 09:00:00 AM,07/16/2014 09:00:00 AM,02/15/2014,Transfer,SCRP,Cat,Neutered Male,4 months,Domestic Shorthair Mix,Brown Tabby
57081,A683782,NaN,07/16/2014 09:00:00 AM,07/16/2014 09:00:00 AM,02/15/2014,Transfer,SCRP,Cat,Neutered Male,4 months,Domestic Shorthair Mix,Brown Tabby
65262,A686827,NaN,08/28/2014 09:00:00 AM,08/28/2014 09:00:00 AM,02/27/2012,Transfer,SCRP,Cat,Spayed Female,2 years,Domestic Shorthair Mix,Calico
65263,A686827,NaN,08/28/2014 09:00:00 AM,08/28/2014 09:00:00 AM,02/27/2012,Transfer,SCRP,Cat,Spayed Female,2 years,Domestic Shorthair Mix,Calico
75190,A755687,NaN,08/07/2017 01:50:00 PM,08/07/2017 01:50:00 PM,08/07/2014,Disposal,NaN,Other,Unknown,3 years,Bat Mix,Brown
75191,A755687,NaN,08/07/2017 01:50:00 PM,08/07/2017 01:50:00 PM,08/07/2014,Disposal,NaN,Other,Unknown,3 years,Bat Mix,Brown
76603,A660948,*Roy,11/03/2013 06:16:00 PM,11/03/2013 06:16:00 PM,07/08/2013,Adoption,NaN,Cat,Neutered Male,3 months,Domestic Shorthair Mix,Brown Tabby/White
76604,A660948,*Roy,11/03/2013 06:16:00 PM,11/03/2013 06:16:00 PM,07/08/2013,Adoption,NaN,Cat,Neutered Male,3 months,Domestic Shorthair Mix,Brown Tabby/White
85499,A748204,Bob,05/04/2017 06:04:00 PM,05/04/2017 06:04:00 PM,02/04/2017,Adoption,NaN,Cat,Neutered Male,2 months,Domestic Shorthair Mix,White/Blue
85500,A748204,Bob,05/04/2017 06:04:00 PM,05/04/2017 06:04:00 PM,02/04/2017,Adoption,NaN,Cat,Neutered Male,2 months,Domestic Shorthair Mix,White/Blue
91612,A755088,Machete,08/19/2017 12:00:00 AM,08/19/2017 12:00:00 AM,09/29/2016,Adoption,NaN,Dog,Spayed Female,10 months,Australian Kelpie Mix,Black/White
91613,A755088,Machete,08/19/2017 12:00:00 AM,08/19/2017 12:00:00 AM,09/29/2016,Adoption,NaN,Dog,Spayed Female,10 months,Australian Kelpie Mix,Black/White
92797,A811566,Bubby,01/09/2020 05:22:00 PM,01/09/2020 05:22:00 PM,07/09/2018,Return to Owner,NaN,Cat,Neutered Male,1 year,Domestic Shorthair,White
92798,A811566,Bubby,01/09/2020 05:22:00 PM,01/09/2020 05:22:00 PM,07/09/2018,Return to Owner,NaN,Cat,Neutered Male,1 year,Domestic Shorthair,White
104176,A696688,Mari,03/26/2015 07:05:00 PM,03/26/2015 07:05:00 PM,02/10/2012,Adoption,NaN,Cat,Spayed Female,3 years,Domestic Shorthair Mix,Calico/White
104177,A696688,Mari,03/26/2015 07:05:00 PM,03/26/2015 07:05:00 PM,02/10/2012,Adoption,NaN,Cat,Spayed Female,3 years,Domestic Shorthair Mix,Calico/White
105946,A764464,Pepper,09/18/2018 02:28:00 PM,09/18/2018 02:28:00 PM,10/15/2017,Transfer,Partner,Dog,Spayed Female,11 months,Soft Coated Wheaten Terrier Mix,Black/Tricolor
105947,A764464,Pepper,09/18/2018 02:28:00 PM,09/18/2018 02:28:00 PM,10/15/2017,Transfer,Partner,Dog,Spayed Female,11 months,Soft Coated Wheaten Terrier Mix,Black/Tricolor
111744,A797007,Ummi,06/09/2019 04:33:00 PM,06/09/2019 04:33:00 PM,12/08/2009,Died,In Kennel,Dog,Neutered Male,9 years,Miniature Poodle,White
111745,A797007,Ummi,06/09/2019 04:33:00 PM,06/09/2019 04:33:00 PM,12/08/2009,Died,In Kennel,Dog,Neutered Male,9 years,Miniature Poodle,White
127333,A773428,*Atreyu,06/07/2018 09:31:00 AM,06/07/2018 09:31:00 AM,05/04/2018,Died,At Vet,Cat,Intact Male,4 weeks,Domestic Shorthair Mix,Orange Tabby
127334,A773428,*Atreyu,06/07/2018 09:31:00 AM,06/07/2018 09:31:00 AM,05/04/2018,Died,At Vet,Cat,Intact Male,4 weeks,Domestic Shorthair Mix,Orange Tabby
130381,A695798,Jim,01/23/2015 12:34:00 PM,01/23/2015 12:34:00 PM,02/23/2014,Euthanasia,Suffering,Cat,Neutered Male,10 months,Domestic Shorthair Mix,Orange
130382,A695798,Jim,01/23/2015 12:34:00 PM,01/23/2015 12:34:00 PM,02/23/2014,Euthanasia,Suffering,Cat,Neutered Male,10 months,Domestic Shorthair Mix,Orange

Looking at these in further detail it becomes clear that duplicates were entered double on accident. The duplicates don't just match in terms of the **exact** DateTime but also follow each other in terms on the index. Because of this we're going to remove them.

In [24]:
austin_in_df.drop_duplicates(inplace=True)
austin_out_df.drop_duplicates(inplace=True)
print(austin_in_df[austin_in_df.duplicated(keep=False)])
print(austin_out_df[austin_out_df.duplicated(keep=False)])

Empty DataFrame
Columns: [Animal ID, Name, DateTime, MonthYear, Found Location, Intake Type, Intake Condition, Animal Type, Sex upon Intake, Age upon Intake, Breed, Color]
Index: []
Empty DataFrame
Columns: [Animal ID, Name, DateTime, MonthYear, Date of Birth, Outcome Type, Outcome Subtype, Animal Type, Sex upon Outcome, Age upon Outcome, Breed, Color]
Index: []

### Duplicate Columns
Before we take a look at DateTimes we're going to have a look at the columns DateTime and MonthYear as they mostly seem to be the same. Before making any assumption let's compare the two.

In [25]:
austin_in_df.loc[austin_in_df['DateTime'] != austin_in_df['MonthYear']]

Empty DataFrame
Columns: [Animal ID, Name, DateTime, MonthYear, Found Location, Intake Type, Intake Condition, Animal Type, Sex upon Intake, Age upon Intake, Breed, Color]
Index: []

In [26]:
austin_out_df.loc[austin_out_df['DateTime'] != austin_out_df['MonthYear']]

Empty DataFrame
Columns: [Animal ID, Name, DateTime, MonthYear, Date of Birth, Outcome Type, Outcome Subtype, Animal Type, Sex upon Outcome, Age upon Outcome, Breed, Color]
Index: []

The lack of results means that they're duplicate columns, meaning we can drop one without losing any data.

In [27]:
austin_in_df.drop('MonthYear', axis=1, inplace=True)
austin_out_df.drop('MonthYear', axis=1, inplace=True)

### DateTimes

In order to match the correct animals, we're going to need to take a look at the DateTime values. As seen earlier the DateTime values are strings. They contain the AM and PM values, which need to be converted to do any meaningful calculations.

In [28]:
austin_in_df['DateTime'] = austin_in_df.apply(lambda x: parser.parse(x['DateTime']).isoformat(),axis=1).astype('datetime64')
austin_out_df['DateTime'] = austin_out_df.apply(lambda x: parser.parse(x['DateTime']).isoformat(),axis=1).astype('datetime64')
austin_in_df.head(5)

,Animal ID,Name,DateTime,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A786884,*Brock,2019-01-03 16:19:00,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,2015-07-05 12:59:00,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,2016-04-14 18:43:00,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White
3,A665644,NaN,2013-10-21 07:59:00,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico
4,A682524,Rio,2014-06-29 10:38:00,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray

We've converted the DateTime values to the ISO format. We can now compare them as follows.

In [29]:
austin_in_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 132935 entries, 0 to 132953
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Animal ID         132935 non-null  object
 1   Name              92415 non-null   object
 2   DateTime          132935 non-null  datetime64[ns]
 3   Found Location    132935 non-null  object
 4   Intake Type       132935 non-null  object
 5   Intake Condition  132935 non-null  object
 6   Animal Type       132935 non-null  object
 7   Sex upon Intake   132934 non-null  object
 8   Age upon Intake   132935 non-null  object
 9   Breed             132935 non-null  object
 10  Color             132935 non-null  object
dtypes: datetime64[ns](1), object(10)
memory usage: 12.2+ MB

# 4. Merging The Austin Datasets <a class="anchor" id="chapter4"></a> 
Now that the time has been converted we can attempt to merge the datasets. Again, we want to look for a match of AnimalID. We only want intakes that are **after** the intakes. If there's multiple results we want the **first** result. 

*Note that it's possible this will still go wrong if there's two intakes without an outcome in between. This would be due to missing values or incorrect datetime values.*


### Merging One Line
Let's have another look at scamp. One of his indexes was 3993. Previously we found three results in outcomes.

In [30]:
austin_in_df[(austin_in_df['Animal ID'] == 'A006100')]

,Animal ID,Name,DateTime,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
4361,A006100,Scamp,2014-12-19 10:21:00,8700 Research Blvd in Austin (TX),Public Assist,Normal,Dog,Neutered Male,7 years,Spinone Italiano Mix,Yellow/White
20303,A006100,Scamp,2017-12-07 14:07:00,Colony Creek And Hunters Trace in Austin (TX),Stray,Normal,Dog,Neutered Male,10 years,Spinone Italiano Mix,Yellow/White
91722,A006100,Scamp,2014-03-07 14:26:00,8700 Research in Austin (TX),Public Assist,Normal,Dog,Neutered Male,6 years,Spinone Italiano Mix,Yellow/White

In [31]:
austin_out_df[(austin_out_df['Animal ID'] == 'A006100')]

,Animal ID,Name,DateTime,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
56811,A006100,Scamp,2014-12-20 16:35:00,07/09/2007,Return to Owner,NaN,Dog,Neutered Male,7 years,Spinone Italiano Mix,Yellow/White
101728,A006100,Scamp,2017-12-07 00:00:00,07/09/2007,Return to Owner,NaN,Dog,Neutered Male,10 years,Spinone Italiano Mix,Yellow/White
115491,A006100,Scamp,2014-03-08 17:10:00,07/09/2007,Return to Owner,NaN,Dog,Neutered Male,6 years,Spinone Italiano Mix,Yellow/White

In [32]:
scamp = df.loc[3993,:]
scamp_outcomes = austin_out_df[(austin_out_df['Animal ID'] == 'A006100') & (austin_out_df['DateTime'] > scamp['DateTime'])]
scamp_outcomes

,Animal ID,Name,DateTime,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
101728,A006100,Scamp,2017-12-07,07/09/2007,Return to Owner,NaN,Dog,Neutered Male,10 years,Spinone Italiano Mix,Yellow/White

We now only find the ones in the future. Let's grab the smallest date.

In [33]:
scamp_outcomes[scamp_outcomes.DateTime == scamp_outcomes.DateTime.min()]

,Animal ID,Name,DateTime,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
101728,A006100,Scamp,2017-12-07,07/09/2007,Return to Owner,NaN,Dog,Neutered Male,10 years,Spinone Italiano Mix,Yellow/White

We can use this principle to merge all rows. Some rows won't have an outcome. These are animals that are currently in the shelter.

### A function to merge all rows
We can make a function to merge any row. It will take the income row and the outcome dataframe to merge it with.

In [34]:
def merge_row(row, df_out):
    outcomes = df_out[(df_out['Animal ID'] == row['Animal ID']) & (df_out['DateTime'] > row['DateTime'])]
    return outcomes[outcomes.DateTime == outcomes.DateTime.min()]

merged_df = merge_row(df.loc[3993,:], austin_out_df)
merged_df

,Animal ID,Name,DateTime,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
13324,A743865,*Sheila,2017-02-23 13:10:00,02/23/2016,Transfer,Partner,Dog,Spayed Female,1 year,Miniature Schnauzer Mix,Gray/Brown

In [35]:
austin_in_df.loc[austin_in_df['Animal ID'] == 'A774147']

,Animal ID,Name,DateTime,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
10,A774147,NaN,2018-06-11 07:45:00,6600 Elm Creek in Austin (TX),Stray,Injured,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Black/White

In [36]:
austin_out_df.loc[austin_out_df['Animal ID'] == 'A774147']

,Animal ID,Name,DateTime,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
80480,A774147,NaN,2018-06-11,05/10/2018,Transfer,Partner,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Black/White

We would prefer if the function returned the joined row. We can then begin merging the data.

In [37]:
def merge_row(row, df_out):
    outcomes = df_out[(df_out['Animal ID'] == row['Animal ID']) & (df_out['DateTime'] >= row['DateTime'])]
    outcome_row = outcomes[outcomes.DateTime == outcomes.DateTime.min()]
    print(outcome_row.values)
    return np.concatenate((row.values, outcome_row.values[0]))

But if we begin to merge the data we run into an error where the function cannot find any row. This is because of our DateTime condition.

In [38]:
austin_in_df.loc[austin_in_df['Animal ID'] == 'A774147']

,Animal ID,Name,DateTime,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
10,A774147,NaN,2018-06-11 07:45:00,6600 Elm Creek in Austin (TX),Stray,Injured,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Black/White

In [39]:
austin_out_df.loc[austin_out_df['Animal ID'] == 'A774147']

,Animal ID,Name,DateTime,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
80480,A774147,NaN,2018-06-11,05/10/2018,Transfer,Partner,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Black/White

The time of the austin out dataframe is missing. This might be of the way the data was parsed. Let's have a look.

### Fixing the datetime issue
Looking back at the times it was previously using 12:00:00 AM. This is why there's no visible date time. As a result the datetime of the outcome is before the intake.  

The times aren't as relevant. We're mostly interested in the amount of days it took for an animal to be picked up or get adopted. To solve our issue we're going to convert out DateTimes to Dates.

In [40]:
austin_in_df['Date'] = pd.to_datetime(austin_in_df['DateTime']).dt.date
austin_out_df['Date'] = pd.to_datetime(austin_out_df['DateTime']).dt.date
austin_in_df.head()

,Animal ID,Name,DateTime,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,Date
0,A786884,*Brock,2019-01-03 16:19:00,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,2019-01-03
1,A706918,Belle,2015-07-05 12:59:00,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,2015-07-05
2,A724273,Runster,2016-04-14 18:43:00,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,2016-04-14
3,A665644,NaN,2013-10-21 07:59:00,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,2013-10-21
4,A682524,Rio,2014-06-29 10:38:00,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,2014-06-29

### Performing the merge
We can now change our function to use Dates instead of DateTimes which will solve the issue. We will look for any matching animal IDs then filter those to look for outcomes after intakes. In the case that we find multiple we pick the closest date available.

In [41]:
def merge_row(row, df_out):
    # Get all animals that match animal ID
    outcomes = df_out[df_out['Animal ID'] == row['Animal ID']]       
    
    # Filter on future outcomes
    future_outcomes = outcomes[outcomes['Date'] >= row['Date']]
    
    # Get the closest Date
    closest_outcome = future_outcomes[future_outcomes.DateTime == future_outcomes.DateTime.min()]
    if len(closest_outcome.values) > 0: 
        return np.concatenate((row.values, closest_outcome.values[0]))

# List of lists used to rebuild the merged dataframe
merged_data = []

for index, row in austin_in_df.iterrows():
    merged_data.append(merge_row(row, austin_out_df))

### Building the Dataframe
We can now build the dataframe using our list of lists. We use a list of lists as opposed to continuously adding a row to an existing dataframe because it is more efficient.

In [42]:
austin_df = pd.DataFrame(list(map(np.ravel, merged_data)))
austin_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132935 entries, 0 to 132934
Data columns (total 24 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       132076 non-null  object
 1   1       91664 non-null   object
 2   2       132076 non-null  datetime64[ns]
 3   3       132076 non-null  object
 4   4       132076 non-null  object
 5   5       132076 non-null  object
 6   6       132076 non-null  object
 7   7       132075 non-null  object
 8   8       132076 non-null  object
 9   9       132076 non-null  object
 10  10      132076 non-null  object
 11  11      132076 non-null  object
 12  12      132076 non-null  object
 13  13      91664 non-null   object
 14  14      132076 non-null  datetime64[ns]
 15  15      132076 non-null  object
 16  16      132049 non-null  object
 17  17      60573 non-null   object
 18  18      132076 non-null  object
 19  19      132075 non-null  object
 20  20      132056 non-null  object
 21  21      132076 non-null  object
 22  22      132076 non-null  object
 23  23      132076 non-null  object
dtypes: datetime64[ns](2), object(22)
memory usage: 24.3+ MB

### Cleaning up the merge
The columns are now the intake and outcome columns combined. Let's rename them accordingly.

In [43]:
merged_columns = ['Animal ID', 'Name', 'DateTime', 'Found Location', 'Intake Type', 
                  'Intake Condition', 'Animal Type', 'Sex upon Intake', 
                  'Age upon Intake', 'Breed', 'Color', 'Date', 
                  'Outcome Animal ID', 'Outcome Name', 'Outcome DateTime', 'Date of Birth', 'Outcome Type', 
                  'Outcome Subtype', 'Outcome Animal Type', 'Sex upon Outcome', 'Age upon Outcome', 
                  'Outcome Breed', 'Outcome Color', 'Outcome Date']

austin_df.columns = merged_columns

#### Removing null values
Due to the merge 500 rows are entirely empty. These are the rows where no value could be found for an intake. For the time being I'm going to clean these up by deleting them. This does this the data a certain bias. There might be certain animals that weren't adopted over a long period of time for a certain reason. We'll keep this in mind and can return back to this in a later iteration.

In [44]:
austin_df = austin_df[austin_df['Animal ID'].notna()]
austin_df.reset_index(inplace=True)
austin_df.drop('index', axis=1, inplace=True)

#### Removing duplicate columns
Some values previously seemed duplicate. Because they were different datasets we didn't bother to check if this were true. Now that the datasets are merged let's see if this is actually true.

In [45]:
print(austin_df.loc[austin_df['Animal ID'] != austin_df['Outcome Animal ID']])
print(austin_df.loc[austin_df['Animal Type'] != austin_df['Outcome Animal Type']])
print(austin_df.loc[austin_df['Breed'] != austin_df['Outcome Breed']])
print(austin_df.loc[austin_df['Color'] != austin_df['Outcome Color']])

Empty DataFrame
Columns: [Animal ID, Name, DateTime, Found Location, Intake Type, Intake Condition, Animal Type, Sex upon Intake, Age upon Intake, Breed, Color, Date, Outcome Animal ID, Outcome Name, Outcome DateTime, Date of Birth, Outcome Type, Outcome Subtype, Outcome Animal Type, Sex upon Outcome, Age upon Outcome, Outcome Breed, Outcome Color, Outcome Date]
Index: []

[0 rows x 24 columns]
Empty DataFrame
Columns: [Animal ID, Name, DateTime, Found Location, Intake Type, Intake Condition, Animal Type, Sex upon Intake, Age upon Intake, Breed, Color, Date, Outcome Animal ID, Outcome Name, Outcome DateTime, Date of Birth, Outcome Type, Outcome Subtype, Outcome Animal Type, Sex upon Outcome, Age upon Outcome, Outcome Breed, Outcome Color, Outcome Date]
Index: []

[0 rows x 24 columns]
Empty DataFrame
Columns: [Animal ID, Name, DateTime, Found Location, Intake Type, Intake Condition, Animal Type, Sex upon Intake, Age upon Intake, Breed, Color, Date, Outcome Animal ID, Outcome Name, Outcome DateTime, Date of Birth, Outcome Type, Outcome Subtype, Outcome Animal Type, Sex upon Outcome, Age upon Outcome, Outcome Breed, Outcome Color, Outcome Date]
Index: []

[0 rows x 24 columns]
Empty DataFrame
Columns: [Animal ID, Name, DateTime, Found Location, Intake Type, Intake Condition, Animal Type, Sex upon Intake, Age upon Intake, Breed, Color, Date, Outcome Animal ID, Outcome Name, Outcome DateTime, Date of Birth, Outcome Type, Outcome Subtype, Outcome Animal Type, Sex upon Outcome, Age upon Outcome, Outcome Breed, Outcome Color, Outcome Date]
Index: []

[0 rows x 24 columns]

Because the values were duplicate we can drop the columns without losing any information.

In [46]:
austin_df.drop(['Outcome Animal ID', 'Outcome Animal Type', 'Outcome Breed', 'Outcome Color'], axis = 1, inplace=True)

Names also seem to be duplicate. The registered name of the animal doesn't seem to change when it is adopted. The 'duplicates' that do return are null values.

In [47]:
austin_df.loc[austin_df['Name'] != austin_df['Outcome Name']].head()

,Animal ID,Name,DateTime,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,Date,Outcome Name,Outcome DateTime,Date of Birth,Outcome Type,Outcome Subtype,Sex upon Outcome,Age upon Outcome,Outcome Date
3,A665644,NaN,2013-10-21 07:59:00,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,2013-10-21,NaN,2013-10-21 11:39:00,09/21/2013,Transfer,Partner,Intact Female,4 weeks,2013-10-21
9,A818975,NaN,2020-06-18 14:53:00,Braker Lane And Metric in Travis (TX),Stray,Normal,Cat,Intact Male,4 weeks,Domestic Shorthair,Cream Tabby,2020-06-18,NaN,2020-07-23 15:54:00,05/19/2020,Adoption,Foster,Neutered Male,2 months,2020-07-23
10,A774147,NaN,2018-06-11 07:45:00,6600 Elm Creek in Austin (TX),Stray,Injured,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Black/White,2018-06-11,NaN,2018-06-11 00:00:00,05/10/2018,Transfer,Partner,Intact Female,4 weeks,2018-06-11
12,A760053,NaN,2017-10-11 15:46:00,8800 South First Street in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Chihuahua Shorthair,White/Tan,2017-10-11,NaN,2017-10-15 18:30:00,10/11/2015,Adoption,NaN,Neutered Male,2 years,2017-10-15
16,A743114,NaN,2017-02-04 10:10:00,208 Beaver St in Austin (TX),Stray,Injured,Cat,Intact Female,2 years,Domestic Shorthair Mix,Black/White,2017-02-04,NaN,2017-02-04 10:48:00,02/04/2015,Euthanasia,Suffering,Intact Female,2 years,2017-02-04

Date and Outcome Date are part of the DateTimes, so we can get rid of them again.

In [48]:
austin_df.drop(['Date', 'Outcome Date'], axis = 1, inplace=True)

In [49]:
austin_df.columns = ['Animal ID', 'Intake Name', 'Intake DateTime', 'Found Location', 'Intake Type',
       'Intake Condition', 'Animal Type', 'Sex upon Intake', 'Age upon Intake',
       'Breed', 'Color', 'Outcome Name', 'Outcome DateTime', 'Date of Birth',
       'Outcome Type', 'Outcome Subtype', 'Sex upon Outcome', 'Age upon Outcome']

austin_df = austin_df[['Animal ID', 'Animal Type', 'Breed', 'Color', 'Found Location', 'Date of Birth', 
                'Intake Name', 'Outcome Name', 'Intake DateTime', 'Outcome DateTime', 
                'Sex upon Intake', 'Sex upon Outcome', 'Age upon Intake', 'Age upon Outcome',
                'Intake Type', 'Intake Condition', 'Outcome Type', 'Outcome Subtype']]
austin_df.head()

,Animal ID,Animal Type,Breed,Color,Found Location,Date of Birth,Intake Name,Outcome Name,Intake DateTime,Outcome DateTime,Sex upon Intake,Sex upon Outcome,Age upon Intake,Age upon Outcome,Intake Type,Intake Condition,Outcome Type,Outcome Subtype
0,A786884,Dog,Beagle Mix,Tricolor,2501 Magin Meadow Dr in Austin (TX),01/03/2017,*Brock,*Brock,2019-01-03 16:19:00,2019-01-08 15:11:00,Neutered Male,Neutered Male,2 years,2 years,Stray,Normal,Transfer,Partner
1,A706918,Dog,English Springer Spaniel,White/Liver,9409 Bluegrass Dr in Austin (TX),07/05/2007,Belle,Belle,2015-07-05 12:59:00,2015-07-05 15:13:00,Spayed Female,Spayed Female,8 years,8 years,Stray,Normal,Return to Owner,NaN
2,A724273,Dog,Basenji Mix,Sable/White,2818 Palomino Trail in Austin (TX),04/17/2015,Runster,Runster,2016-04-14 18:43:00,2016-04-21 17:17:00,Intact Male,Neutered Male,11 months,1 year,Stray,Normal,Return to Owner,NaN
3,A665644,Cat,Domestic Shorthair Mix,Calico,Austin (TX),09/21/2013,NaN,NaN,2013-10-21 07:59:00,2013-10-21 11:39:00,Intact Female,Intact Female,4 weeks,4 weeks,Stray,Sick,Transfer,Partner
4,A682524,Dog,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,800 Grove Blvd in Austin (TX),06/29/2010,Rio,Rio,2014-06-29 10:38:00,2014-07-02 14:16:00,Neutered Male,Neutered Male,4 years,4 years,Stray,Normal,Return to Owner,NaN

In [50]:
austin_df.to_csv('Datasets/Austin Merged.csv', index=False)

# 5. Extracting Features from Austin Data <a class="anchor" id="chapter5"></a> 
Now that we have the raw data, we want to extract certain information from it. 

### Extracting Castration and Gender from the Sex Column
The sex column provides us with a lot of information.
- An animal's gender can either be male, female or unknown. 
- The animal can also either be intact, neutered, spayed or unknown. However neutered and spayed is the same thing. They are the male and female equivalent of castrated. 
- If one of these is unknown the other is as well. 
- Unknown and nan essentially mean the same thing.

In [51]:
print(austin_df['Sex upon Intake'].unique())
print(austin_df['Sex upon Outcome'].unique())
austin_df['Sex upon Outcome'] = austin_df['Sex upon Outcome'].fillna('Unknown')
austin_df['Sex upon Intake'] = austin_df['Sex upon Intake'].fillna('Unknown')

['Neutered Male' 'Spayed Female' 'Intact Male' 'Intact Female' 'Unknown'
 nan]
['Neutered Male' 'Spayed Female' 'Intact Female' 'Unknown' 'Intact Male'
 nan]

#### Splitting the feature

In [52]:
austin_df['IntakeGender'] = austin_df.apply(lambda x: (x['Sex upon Intake'].split(' ')[1] 
                                         if x['Sex upon Intake'] != 'Unknown' else 'Unknown'), axis=1)
austin_df['OutcomeGender'] = austin_df.apply(lambda x: (x['Sex upon Outcome'].split(' ')[1] 
                                         if x['Sex upon Outcome'] != 'Unknown' else 'Unknown'), axis=1)
austin_df.loc[austin_df['IntakeGender'] != austin_df['OutcomeGender']]

Empty DataFrame
Columns: [Animal ID, Animal Type, Breed, Color, Found Location, Date of Birth, Intake Name, Outcome Name, Intake DateTime, Outcome DateTime, Sex upon Intake, Sex upon Outcome, Age upon Intake, Age upon Outcome, Intake Type, Intake Condition, Outcome Type, Outcome Subtype, IntakeGender, OutcomeGender]
Index: []

We applied it to both intake and outcome to see if there would be any differences. We can compare the two and drop one of the columns assuming the genders all match (as they should).

In [53]:
austin_df.rename(columns={'IntakeGender' : 'Gender'}, inplace=True)
austin_df.drop('OutcomeGender', axis=1, inplace=True)

In [54]:
austin_df['Castration Intake'] = austin_df.apply(lambda x: (x['Sex upon Intake'].split(' ')[0] 
                                         if x['Sex upon Intake'] != 'Unknown' else 'Unknown'), axis=1)
austin_df['Castration Outcome'] = austin_df.apply(lambda x: (x['Sex upon Outcome'].split(' ')[0] 
                                         if x['Sex upon Outcome'] != 'Unknown' else 'Unknown'), axis=1)

In [55]:
austin_df.head(2)

,Animal ID,Animal Type,Breed,Color,Found Location,Date of Birth,Intake Name,Outcome Name,Intake DateTime,Outcome DateTime,...,Sex upon Outcome,Age upon Intake,Age upon Outcome,Intake Type,Intake Condition,Outcome Type,Outcome Subtype,Gender,Castration Intake,Castration Outcome
0,A786884,Dog,Beagle Mix,Tricolor,2501 Magin Meadow Dr in Austin (TX),01/03/2017,*Brock,*Brock,2019-01-03 16:19:00,2019-01-08 15:11:00,...,Neutered Male,2 years,2 years,Stray,Normal,Transfer,Partner,Male,Neutered,Neutered
1,A706918,Dog,English Springer Spaniel,White/Liver,9409 Bluegrass Dr in Austin (TX),07/05/2007,Belle,Belle,2015-07-05 12:59:00,2015-07-05 15:13:00,...,Spayed Female,8 years,8 years,Stray,Normal,Return to Owner,NaN,Female,Spayed,Spayed

### Calculating Length of Stay Based On Income and Outcome
The length of stay can be calculated by subtracting the intake datetime from the outcome datetime.

In [56]:
austin_df['Days in Shelter'] = austin_df.apply(lambda x: (x['Outcome DateTime'] - x['Intake DateTime']), axis=1)
austin_df.head(2)

,Animal ID,Animal Type,Breed,Color,Found Location,Date of Birth,Intake Name,Outcome Name,Intake DateTime,Outcome DateTime,...,Age upon Intake,Age upon Outcome,Intake Type,Intake Condition,Outcome Type,Outcome Subtype,Gender,Castration Intake,Castration Outcome,Days in Shelter
0,A786884,Dog,Beagle Mix,Tricolor,2501 Magin Meadow Dr in Austin (TX),01/03/2017,*Brock,*Brock,2019-01-03 16:19:00,2019-01-08 15:11:00,...,2 years,2 years,Stray,Normal,Transfer,Partner,Male,Neutered,Neutered,4 days 22:52:00
1,A706918,Dog,English Springer Spaniel,White/Liver,9409 Bluegrass Dr in Austin (TX),07/05/2007,Belle,Belle,2015-07-05 12:59:00,2015-07-05 15:13:00,...,8 years,8 years,Stray,Normal,Return to Owner,NaN,Female,Spayed,Spayed,0 days 02:14:00

Looking at the minimum and maximum we find something interesting. There's an animal that was in the shelter for a negative amount of time, which obviously is not possible.

In [57]:
print(austin_df['Days in Shelter'].max())
austin_df['Days in Shelter'].min()

1912 days 22:31:00

Timedelta('-1 days +03:18:00')

In [58]:
delta = timedelta(days = 0)
austin_df.loc[austin_df['Days in Shelter'] < delta]

,Animal ID,Animal Type,Breed,Color,Found Location,Date of Birth,Intake Name,Outcome Name,Intake DateTime,Outcome DateTime,...,Age upon Intake,Age upon Outcome,Intake Type,Intake Condition,Outcome Type,Outcome Subtype,Gender,Castration Intake,Castration Outcome,Days in Shelter
10,A774147,Cat,Domestic Shorthair Mix,Black/White,6600 Elm Creek in Austin (TX),05/10/2018,NaN,NaN,2018-06-11 07:45:00,2018-06-11 00:00:00,...,4 weeks,4 weeks,Stray,Injured,Transfer,Partner,Female,Intact,Intact,-1 days +16:15:00
82,A770916,Dog,Great Pyrenees Mix,White/Cream,10195 Thistle Ridge in Austin (TX),04/27/2017,Oso,Oso,2018-04-27 11:43:00,2018-04-27 10:56:00,...,1 year,1 year,Stray,Normal,Return to Owner,NaN,Male,Intact,Intact,-1 days +23:13:00
320,A769678,Cat,Domestic Shorthair Mix,Tortie,5601 Little Theater Bend in Austin (TX),04/01/2018,NaN,NaN,2018-04-08 16:31:00,2018-04-08 00:00:00,...,1 week,1 week,Stray,Normal,Transfer,Partner,Unknown,Unknown,Unknown,-1 days +07:29:00
432,A554047,Dog,Pit Bull Mix,Brown/White,3100 Rogge in Austin (TX),07/08/2009,Mega,Mega,2016-05-26 16:33:00,2016-05-26 00:00:00,...,6 years,6 years,Stray,Normal,Return to Owner,NaN,Male,Neutered,Neutered,-1 days +07:27:00
534,A816005,Other,Bat,Brown,Austin (TX),04/02/2018,NaN,NaN,2020-04-02 15:12:00,2020-04-02 12:27:00,...,2 years,2 years,Wildlife,Normal,Euthanasia,Rabies Risk,Unknown,Unknown,Unknown,-1 days +21:15:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131745,A759270,Cat,Domestic Shorthair Mix,Gray Tabby,15010 Fm 812 in Del Valle (TX),08/29/2017,NaN,NaN,2017-09-29 18:00:00,2017-09-29 00:00:00,...,4 weeks,4 weeks,Stray,Normal,Transfer,Partner,Unknown,Unknown,Unknown,-1 days +06:00:00
131816,A656444,Dog,Catahoula Mix,White/Tan,Austin (TX),10/14/2012,*Paige,*Paige,2013-12-31 16:37:00,2013-12-31 13:53:00,...,1 year,1 year,Owner Surrender,Normal,Adoption,NaN,Female,Spayed,Spayed,-1 days +21:16:00
131902,A811255,Cat,Domestic Shorthair,Black,12034 Research Blvd in Austin (TX),07/31/2019,NaN,NaN,2019-12-31 08:10:00,2019-12-31 00:00:00,...,5 months,5 months,Stray,Injured,Disposal,NaN,Female,Intact,Intact,-1 days +15:50:00
131926,A823984,Dog,Labrador Retriever/Golden Retriever,Buff,9214 East Dean Keeton Street in Austin (TX),10/03/2017,Chucho,Chucho,2020-12-13 17:15:00,2020-12-13 15:45:00,...,3 years,3 years,Owner Surrender,Normal,Adoption,NaN,Male,Neutered,Neutered,-1 days +22:30:00
132008,A842401,Cat,Domestic Shorthair,Black,Austin (TX),08/06/2021,*Ken,*Ken,2021-10-23 19:14:00,2021-10-23 12:01:00,...,2 months,2 months,Owner Surrender,Normal,Adoption,Foster,Male,Neutered,Neutered,-1 days +16:47:00

These values happen when the outcome date was slightly after the income date. My theory is that this is due to incorrectly entered values. I'll group them with the 0-1 days animals.

### Bucketing the Length of Stay

In [59]:
def get_days_bucket(days):
    try:
        if days <= timedelta(days = 1):
            return "0-1 days"
        elif days <= timedelta(days = 7):
            return "1-7 days"
        elif days <= timedelta(days = 30):
            return "7-30 days"
        else:
            return "30+ days"
    except:
        return np.nan

austin_df['Days Bucket'] = austin_df['Days in Shelter'].apply(get_days_bucket)
austin_df['Days Bucket'].value_counts()

1-7 days     48948
7-30 days    32974
0-1 days     27783
30+ days     22371
Name: Days Bucket, dtype: int64

### Extracting Popular Breeds from the Breed Column
We have a large number of breeds in the datasets. A lot of these overlap with others. The Other category actually contains species as opposed to breeds. When it comes to cats the breeds are mostly a reference for how long the fur is.
We're going to group some of these breeds together by extracting this information.

In [60]:
austin_df[austin_df['Animal Type'] == 'Cat']['Breed'].value_counts()[:10]

Domestic Shorthair Mix      31665
Domestic Shorthair           9439
Domestic Medium Hair Mix     3177
Domestic Longhair Mix        1560
Siamese Mix                  1316
Domestic Medium Hair          990
Domestic Longhair             356
Siamese                       279
American Shorthair Mix        224
Snowshoe Mix                  203
Name: Breed, dtype: int64

In [61]:
austin_df[austin_df['Animal Type'] == 'Dog']['Breed'].value_counts()[:15]

Pit Bull Mix                 8660
Labrador Retriever Mix       7153
Chihuahua Shorthair Mix      6377
German Shepherd Mix          3156
Pit Bull                     1613
Australian Cattle Dog Mix    1586
Chihuahua Shorthair          1217
Labrador Retriever           1206
German Shepherd              1077
Dachshund Mix                1071
Boxer Mix                    1016
Border Collie Mix             976
Miniature Poodle Mix          865
Siberian Husky Mix            730
Australian Shepherd Mix       720
Name: Breed, dtype: int64

In [62]:
austin_df[austin_df['Animal Type'] == 'Other']['Breed'].value_counts()[:5]

Bat Mix          1755
Bat              1654
Raccoon Mix       539
Raccoon           474
Rabbit Sh Mix     337
Name: Breed, dtype: int64

In [63]:
cat_breeds = ['Domestic Shorthair', 'Domestic Medium Hair', 'Domestic Longhair', 'Siamese Mix']            
dog_breeds = ['Pit Bull', 'Chihuahua', 'Retriever', 'Shepherd', 
              'Dachshund', 'Poodle', 'Boxer', 'Border Collie', 'Terrier', 'Husky']      
breeds = cat_breeds + dog_breeds

def get_breed(breed_name):
    bucket = [string for string in breeds if string in breed_name]
    if not bucket:
        return np.nan
    return bucket[0]  

austin_df['Breed Bucket'] = austin_df['Breed'].apply(get_breed)

### Extracting Common Colours
The colour category often contains multiple colours. We'll do a similar thing to the breeds. We'll create one column per colour and see if the colour category contains this colour.

In [64]:
austin_df[austin_df['Animal Type'] == 'Cat']['Color'].value_counts()[:15]

Brown Tabby           7569
Black                 6573
Black/White           4622
Brown Tabby/White     3907
Orange Tabby          3680
Tortie                2323
Calico                2227
Blue Tabby            1957
Blue                  1880
Orange Tabby/White    1841
Torbie                1503
Blue/White            1315
Cream Tabby            904
Blue Tabby/White       904
White/Black            854
Name: Color, dtype: int64

In [65]:
austin_df[austin_df['Animal Type'] == 'Dog']['Color'].value_counts()[:15]

Black/White            8715
Brown/White            4245
Tan/White              3943
Black                  3939
White                  3935
Tan                    3285
Brown                  3004
Black/Tan              2891
Tricolor               2859
White/Black            2635
Black/Brown            2634
White/Brown            2428
Blue/White             2241
Brown Brindle/White    2222
Brown/Black            2019
Name: Color, dtype: int64

In [66]:
austin_df[austin_df['Animal Type'] == 'Other']['Color'].value_counts()[:10]

Brown          2634
Black           571
Black/White     417
Brown/Black     404
Gray            351
Gray/Black      343
Black/Gray      280
Black/Brown     221
Red             175
White/Black     166
Name: Color, dtype: int64

In [67]:
def get_color_bucket(val, type):
    val = val.lower()
    if re.search(type,val):
        return 1
    else:
        return 0

colors = ['tabby', 'tricolor', 'brown', 'black', 'white', 'orange', 'tortie', 'calico', 'blue', 'tan', 'brindle']
for t in colors:
    austin_df[t] = austin_df['Color'].apply(get_color_bucket, args=(t,))

austin_df

,Animal ID,Animal Type,Breed,Color,Found Location,Date of Birth,Intake Name,Outcome Name,Intake DateTime,Outcome DateTime,...,tricolor,brown,black,white,orange,tortie,calico,blue,tan,brindle
0,A786884,Dog,Beagle Mix,Tricolor,2501 Magin Meadow Dr in Austin (TX),01/03/2017,*Brock,*Brock,2019-01-03 16:19:00,2019-01-08 15:11:00,...,1,0,0,0,0,0,0,0,0,0
1,A706918,Dog,English Springer Spaniel,White/Liver,9409 Bluegrass Dr in Austin (TX),07/05/2007,Belle,Belle,2015-07-05 12:59:00,2015-07-05 15:13:00,...,0,0,0,1,0,0,0,0,0,0
2,A724273,Dog,Basenji Mix,Sable/White,2818 Palomino Trail in Austin (TX),04/17/2015,Runster,Runster,2016-04-14 18:43:00,2016-04-21 17:17:00,...,0,0,0,1,0,0,0,0,0,0
3,A665644,Cat,Domestic Shorthair Mix,Calico,Austin (TX),09/21/2013,NaN,NaN,2013-10-21 07:59:00,2013-10-21 11:39:00,...,0,0,0,0,0,0,1,0,0,0
4,A682524,Dog,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,800 Grove Blvd in Austin (TX),06/29/2010,Rio,Rio,2014-06-29 10:38:00,2014-07-02 14:16:00,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132071,A784170,Dog,Black Mouth Cur,Tan/Black,12708 Pond Woods Road in Austin (TX),10/27/2013,Pippin,Pippin,2018-11-12 18:13:00,2018-12-25 13:11:00,...,0,0,1,0,0,0,0,0,1,0
132072,A845179,Dog,Maltese/Miniature Poodle,White/Black,706 West 24Th Street in Austin (TX),10/26/2019,Bailey,Bailey,2021-10-26 17:01:00,2021-10-27 12:45:00,...,0,0,1,1,0,0,0,0,0,0
132073,A845253,Other,Bat,Black/Gray,1600 South 1St Street in Austin (TX),10/27/2019,NaN,NaN,2021-10-27 13:44:00,2021-10-27 15:04:00,...,0,0,1,0,0,0,0,0,0,0
132074,A734082,Dog,American Staffordshire Terrier Mix,Red/White,1601 Montopolis Drive in Austin (TX),10/27/2013,Rusty,Rusty,2020-09-30 14:15:00,2021-05-15 12:30:00,...,0,0,0,1,0,0,0,0,0,0
132075,A734082,Dog,American Staffordshire Terrier Mix,Red/White,5301 E Stassney Ln in Austin (TX),10/27/2013,Rusty,Rusty,2016-09-01 10:33:00,2016-11-28 12:00:00,...,0,0,0,1,0,0,0,0,0,0

### Bucketing the Age Feature
Similar to the length of stay we wish to bucket various age categories. Age is a value that is vaguely available but can also be calculated. As we can see these values have a lot of uncertainty to them. For example, 0 years can mean a number of things. There's also naming errors such as 1 week and 1 weeks. Using the date of birth and intake and outcome date we can calculate the ages ourselves.

In [68]:
array = austin_df['Age upon Intake'].unique()
array.sort()
print(array)

['-1 years' '-2 years' '-3 years' '0 years' '1 day' '1 month' '1 week'
 '1 weeks' '1 year' '10 months' '10 years' '11 months' '11 years'
 '12 years' '13 years' '14 years' '15 years' '16 years' '17 years'
 '18 years' '19 years' '2 days' '2 months' '2 weeks' '2 years' '20 years'
 '21 years' '22 years' '23 years' '24 years' '25 years' '3 days'
 '3 months' '3 weeks' '3 years' '4 days' '4 months' '4 weeks' '4 years'
 '5 days' '5 months' '5 weeks' '5 years' '6 days' '6 months' '6 years'
 '7 months' '7 years' '8 months' '8 years' '9 months' '9 years']

In [69]:
austin_df['Date of Birth'] = austin_df.apply(lambda x: parser.parse(x['Date of Birth'])
                                                .isoformat(),axis=1).astype('datetime64')

In [70]:
austin_df = austin_df.assign(IntakeAge = lambda x: (x['Intake DateTime'] - x['Date of Birth']))
austin_df = austin_df.assign(OutcomeAge = lambda x: (x['Outcome DateTime'] - x['Date of Birth']))

Now that we've calculated the intake and outcome age we can bucket the ages in the same way we bucketed the length of stays.

In [71]:
def get_age_bucket(age):
    try:
        if age <= timedelta(days = 7):
            return "0-7 days"
        elif age <= timedelta(days = 30):
            return "1 week - 1 month"
        elif age <= timedelta(days = 180):
            return "1 - 6 months"
        elif age <= timedelta(days = 365):
            return "6 months - 1 year"
        elif age <= timedelta(days = 1095):
            return "1 - 3 years"
        elif age <= timedelta(days = 2190):
            return "4 - 6 years"
        else:
            return "7+ years"
    except:
        return np.nan

austin_df['Age Bucket'] = austin_df['IntakeAge'].apply(get_age_bucket)
austin_df['Age Bucket'].value_counts()

1 - 3 years          43121
1 - 6 months         33831
4 - 6 years          16656
7+ years             14373
6 months - 1 year    11179
1 week - 1 month      9304
0-7 days              3612
Name: Age Bucket, dtype: int64

# 6. Saving The Processed Austin Datasheet <a class="anchor" id="chapter6"></a> 
Now that we've processed the austin datasheet and extracted some basic features from it we'll save it so we can continue our EDA on it in another notebook. We'll re-order the columns then convert it to a csv format.

In [72]:
austin_processed = austin_df[['Animal ID', 'Animal Type', 'Breed', 'Breed Bucket', 'Gender', 'Color', 'Found Location', 
                  'Date of Birth', 'Intake Name', 'Outcome Name', 'Intake DateTime', 
                  'Outcome DateTime', 'Sex upon Intake', 'Sex upon Outcome', 
                  'Age upon Intake', 'Age upon Outcome', 'IntakeAge', 'OutcomeAge', 'Intake Type', 
                  'Intake Condition', 'Outcome Type', 'Outcome Subtype', 
                  'Castration Intake', 'Castration Outcome',
                  'tabby', 'tricolor', 'brown', 'black', 'white', 'orange', 'tortie', 'calico', 'blue', 'tan', 'brindle',
                  'Days in Shelter', 'Days Bucket']]

In [73]:
austin_processed.to_csv('Datasets/Austin Processed.csv', index=False)